/* 
    Author     : (c) Николай Варанкин
    Description: Панель диалога свойств элемента архива.
*/

.properties HBox Button
{
    -fx-cursor: hand;
}

.properties HBox
{
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: baseline-right;
}

.properties
{
}
