/* 
    Author     : Николай Варанкин
    Description: Панель диалога для выбора и установки параметров рисования графика.
*/

.graph-properties HBox Button
{
    -fx-cursor: hand;
}

.graph-properties HBox
{
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: baseline-right;
}

.graph-properties 
{

}
