/* 
    Document   : TimeRulerPropertiesPane.css
    Created on : Nov 24, 2013
    Author     : Николай Варанкин
    Description: Панель выбора и установки параметров параметров оси времени.
*/

.time-ruler-properties-pane 
{
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-padding: 10px;
}
