/* 
    Document   : TimeRulerPropertiesPane.css
    Created on : Nov 24, 2013
    Author     : Николай Варанкин
    Description: Панель выбора и установки параметров параметров оси времени.
*/

.time-ruler-properties-pane 
{
}
