/* 
    Document   : TimeLineSetup
    Created on : Feb 4, 2014, 1:10:49 AM
    Author     : Николай
    Description:
        Purpose of the stylesheet follows.
*/

.time-line-setup HBox Button
{
    -fx-cursor: hand;
}

.time-line-setup HBox
{
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: baseline-right;
}

.time-line-setup 
{ 
}

