/* 
    Document   : ValueRulerPropertiesPane.css
    Created on : Nov 14, 2013
    Author     : Николай Варанкин
    Description: Панель диалога для выбора и установки параметров оси значений.
*/

.value-ruler-properties-pane 
{
}
