/* 
    Author     : Николай Варанкин
    Description: Панель диалога для выбора и установки параметров прорисовки отметок.
*/

.value-properties HBox Button
{
    -fx-cursor: hand;
}

.value-properties HBox
{
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: baseline-right;
}

.value-properties
{
}


