/* 
    Author     : Николай Варанкин
    Description: Панель диалога для выбора и установки параметров оси значений.
*/

.value-ruler-properties HBox Button
{
    -fx-cursor: hand;
}

.value-ruler-properties HBox
{
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: baseline-right;
}

.value-ruler-properties 
{

}
